.home {
  background-color: var(--color-black);
}

/* Toggle button used in Home for each section */
.toggleBtn {
  border-radius: 12px;
  border-width: 1px;
  padding: 10px 0px;
  height: 47px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  opacity: 1;
  background-color: #121212;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.25px;
  color: #34c94b;
  cursor: pointer;
}
