:root {
  --color-primary: #34c94b;
}
.navbar {
  background-color: var(--color-primary);
  height: 74px;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedbackBtn {
  border-radius: 12px;
  border-width: 1px;
  padding: 10px 16px;
  width: 170px;
  height: 47px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  opacity: 1;
  background-color: #121212;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.25px;
  color: #34c94b;
  cursor: pointer;
}
