:root {
  --color-black: #121212;
}
.search {
  padding: 15px 20px;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--color-black);
  width: 462px;
}

.wrapper {
  display: flex;
  align-items: stretch;
  height: 48px;
}

.searchButton {
  border-radius: 0px 8px 8px 0px;
  padding: 11px 20px;
  border: 1px solid var(--color-black);
  border-left: none;
  cursor: pointer;
}

.listElement {
  padding: 8px 12px;
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: var(--color-black);
  color: white;
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}

.thumb {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
  overflow: hidden;
  border-radius: 6px;
  background: #222;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.albumTitle {
  font-size: 16px;
  margin: 0;
}

.albumArtists {
  font-size: 12px;
  margin: 0;
  color: #fff;
}

.albumMeta {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
